<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12" role="main">
          <div class="post-container">     
             <!-- content -->
             <div class="post-content">		
               <form id="query_form" class="form-horizontal form-well" role="form" action="/contactus" method="post">			
                  <div>Name: <input type="text" class="form-control" id="name" name="name"></div>
                  <div>Email: <input type="text" class="form-control" id="email" name="email"></div>
                  <div> <button type="submit" class="btn btn-primary">Submit</button></div>
               </form>
             </div>
          </div>
        </div>   
      </div>
</body>
</html>